html, body {
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-color: #444444;
  overflow-x: hidden;
  background-image: url("../img/bg-custom2.jpg");
}
input, button, select {
  font-size: 1rem;
}
select option {
  font-size: 0.5rem;
}
input[type="checkbox"] {
  vertical-align: middle;
}
hr.divide-mobile {
  border: none;
  border-bottom: 1px solid #0000012b;
}
.help .sub-text h3 {
  text-transform: uppercase;
}
.search-bar {
  margin-top: 6px;
}
#dataTable {
  height: 100%;
}
.search-bar {
  display: block;
  width: 100%;
}
.hidden {
  display: none!important;
}
.search-bar .icon-star-filled {
  display: block;
  text-align: center;
  padding: 10px 10px 10px 5px;
  transition: 0.1s ease-in;
  position: absolute;
  top: 0;
}
#chart-title {
  margin-bottom: 0px;
  text-align: center;
}
.loading-indicator {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 99999;
  display: none;
}
.loading-indicator.show {
  display: block;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #5FB9C5;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.icon-spin6::before {
-webkit-animation-name: spin;
-webkit-animation-duration: 4000ms;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-moz-animation-name: spin;
-moz-animation-duration: 4000ms;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;
-ms-animation-name: spin;
-ms-animation-duration: 4000ms;
-ms-animation-iteration-count: infinite;
-ms-animation-timing-function: linear;
}
dialog .container {
  padding: 12px 20px;
  background-color: #ececec;
  -webkit-box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12);
    box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12);
    margin-bottom: 10%;
    border-top: 3px solid #467379;
    border-radius: 4px;
}
dialog[open], dialog::backdrop {
  animation: show 300ms ease;
}
@keyframes show {
  0% {
    opacity: 0;
  }
}
.introjs-overlay {
  display: none;
}
.introjs-helperLayer {
  background-color: transparent!important;
}
dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}
details[open] summary.table-summary  {
  background-color: lightblue;
}
.table-summary {
  font-weight: bold;
  padding: 15px;
  background-color: #daf5f9;
}
dialog .container .sub-text {
  padding-left: 10px;
}
dialog .container h3 {
  margin-bottom: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid darkgray;
}
.dtrg-end #dataTable tbody tr:nth-child(odd) {
  border-bottom: 1px solid #c3c3c3;
}
table.dataTable.no-footer {
  border: none;
}
dialog {
  top: 0;
  background-color: rgba(0,0,0,0.4);
  border: none;
  z-index: 9999;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 10%;
  margin: 0;
  position: fixed;
  width: -webkit-fill-available;
  width: -moz--fill-available;
}
dialog .chart {
  width: 100%;
}
.dialog-close, .btn-gradient {
  width: 100%;
  background-image: linear-gradient(0deg,#467379,#5FB9C5);
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in;
}
 .dialog-close:focus, .dialog-close:hover, .btn-gradient:focus, .btn-gradient:hover {
   transform: translateY(-2px);
   background-image: #5FB9C5;
 }
.menu-btn {
  border: none;
  padding: 6px 14px;
  cursor: pointer;
  transition: 0.1s ease-in;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  font-weight: bold;
  font-size: 0.75rem;
}
[class^="menu-btn icon-"]:before {
  color: #bbb;
  transition: 0.1s ease-in;
}
[class^="menu-btn icon-"]:hover:before {
  color: black;
}
.menu-btn:hover, .menu-btn:focus {
  border-bottom: 3px solid #91e3f1;
}
.menu-btn:active {
  background-color: #91e3f1;
}
a.menu-btn {
  background-color: transparent;
}
a.menu-btn:visited, a.menu-btn:link {
  color: black;
  text-decoration: none;
}
table button {
  transition: all 0.2s ease-out;
}
table button:hover {
  background-color: #def7ff;
  cursor: pointer;
}
.search-bar .icon-star-filled:hover {
  color: palevioletred;
  cursor: copy;
}
.search-bar {
  position: relative;
}
.table.dataTable tbody th, table.dataTable tbody td {
  padding: 2px 4px;
  border-top: 1px solid #0000012b;
}
table.dataTable tbody tr {
  background-color: #e0e0e0;
}
.check-online-time-button {
  transition: 0.2s all ease-in;
}
tr.shown .act-col .sellers-btn {
  background-color: rgb(218, 245, 249);
}
div.drop-location {
 max-height: 60px;
 overflow-y: auto;
}
div.drop-location button.search-for-button {
  font-size: 0.8rem;
  display: block;
  width: 100%;
  text-align: left;
}
button.search-for-button {
  border: none;
  background-color: transparent;
}
td.save-plat button.search-for-button {
  width: 100%;
}
button.search-for-button:hover {
  background-color: #def7ff;
  cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
   color: darkgray!important;
 }
 .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: darkgray!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: darkgray!important;
  transition: all 0.2s ease-in;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-image: linear-gradient(0deg,#467379,#5FB9C5);
}

table.dataTable thead th, table.dataTable thead td {
  padding: 4px 14px 4px 5px;
  color: darkgray;
}
.search-bar input {
  margin: 0;
  width: 100%;
  padding: 11px 12px 12px 30px;
  border: none;
}
.search-bar input:focus, .search-bar input:active {
  outline: none;
}
.search-bar input:focus + span {
  color: #6b6b6b;
}
/* #dataTable tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
} */
#dataTable tbody .min-col, #valuesTable tbody .values-min-col {
  background-color: rgba(144, 238, 144, 0.5);
}
#dataTable tbody .max-col, #valuesTable tbody .values-max-col {
  background-color: rgba(240, 128, 128, 0.5);
}
#dataTable tbody .avg-col, #valuesTable tbody .values-avg-col {
  background-color: rgba(211, 211, 211, 0.5);
}
#dataTable tbody .median-col, #valuesTable tbody .values-median-col {
  background-color: rgba(240, 248, 255, 0.5);
}
#dataTable tbody .mode-col, #valuesTable tbody .values-mode-col {
  background-color: rgba(193, 203, 255, 0.5);
}
#dataTable tbody .ratio-col {
  background-color: rgba(149, 152, 128, 0.5);
}
#dataTable tbody tr td.name-col {
    cursor: help;
}
#valuesTable thead tr th {
  color: black;
}
table.dataTable tr.dtrg-end td {
  background-color: #edf1f5;
}
table.dataTable tr.dtrg-end td{
  font-weight: normal;
  text-align: right;
}
small.save {
  padding: 2px 2px;
}
.success-save {
  background-color: #c7f6c7;
}
.fail-save  {
  background-color: #f7bfbf;
}
.inner-list-table {
  width: 100%;
}
.table-wrapper {
  width: 100%;
}
.inner-list-table tr td:first-child {
  width: 30px;
}
.inner-list-table tr td:nth-child(3) {
  text-align: right;
}
.inner-list-table button {
  border: none;
  font-size: 0.8rem;
  display: block;
  width: 100%;
  overflow: hidden;
}
table.inner-list-table thead th {
  color: black;
}
tr.shown + tr {
  background-color: transparent!important;
}
.filter-input + div {
  display: inline-block;
  padding: 6px;
  border: 1px solid gray;
  margin-bottom: 2px;
}
.filter-input + div::before, .filter-input + div::after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
}
.informative-icons {
  position: relative;
}
.informative-icons[class^="icon-"]:before, .informative-icons[class*=" icon-"]:before {
  position: absolute;
  top: 5px;
  left: 1px;
}
.informative-icons input {
  padding-left: 15px;
}
/* COLUMN */
input.show-column + div::before, input.show-column-comparisment + div::before {
  content: '\e809';
}
input.show-column:checked + div, input.show-column-comparisment:checked + div {
  background-color: lightblue;
}
input.show-column:checked + div::before, input.show-column-comparisment:checked + div::before  {
  content: '\e808';
}
/* Ratio */
input.ratio-calc:checked + div {
  background-color: #a8ac90;
}
/* VALUE-TYPE */
input.value-type:checked + div  {
  background-color: #03a9f4;
}
/* PLATFORM */
input.platform:checked + div  {
  background-color: #26a69a;
}
/* DATA TYPE */
input.data-type:checked + div {
  background-color: #c1cbff;
}
/* vaulted */
input.highlight-vaulted:checked + div {
  background-color: #d4dc58;
}
.filters {
  margin-top: 6px;
  padding: 6px;
  background-color: #daf5f9;
  position: absolute;
  width: calc(100% - 12px);
  z-index: 99;
  -webkit-box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12);
  box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12)
}
.details-drop {
  display: inline-block;
  background-color: transparent;
}
.details-drop b {
  padding-left: 3px;
}

details.details-drop[open] summary {
  -webkit-box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12);
  box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12)
}
.details-drop summary {
  background-color: transparent;
  transition: 0.1s ease-in;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  font-size: 0.75rem;
}
.details-drop summary::before {
  color: #bbb;
}
.details-drop summary:hover::before {
  color: black;
}
.details-drop summary:hover, .details-drop summary:focus {
  border-bottom: 3px solid #91e3f1;
}
.details-drop summary:active {
  background-color: #91e3f1;
}
.name-col {
  position: relative;
}
.compare {
  opacity: 0.2;
  position: absolute;
  right: -25px;
}
.compare.desktop {
  top: 10px;
}
.compare.terminal {
  top: 25px;
}
.details-drop div.dropdown-container {
  padding-top: 6px;
  position: absolute;
  z-index: 999;
  background-color: #daf5f9;
  width: max-content;
  -webkit-box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12);
  box-shadow: -2px 4px 2px 1px rgba(0,0,0,0.12);
}
div.dropdown-container div.text {
  padding: 4px 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-bottom: 1px solid #0000012b;
  text-align: left;
}
div.dropdown-container input:disabled + div.text {
  color: darkgray;
}
div.dropdown-container input:checked + div.text {
  background-color: #c7f6c7;
}

details {
  position: relative;
  -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;

 /*
   Introduced in IE 10.
   See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
 */
 -ms-user-select: none;
 user-select: none;
}
details summary {
  cursor: pointer;
  padding: 6px 14px;
}
.filter-label:hover {
  cursor: pointer;
}
.sellers-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 2px 8px;
}
.act-col button {
  width: 100%;
  font-size: 0.7rem;
}
.favourite-btn, .favourite-btn-all {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 0.75rem;
}
.favourite-btn-all {
  vertical-align: text-top;
}
.favourite-btn.icon-star-filled {
  color: palevioletred;
}
.favourite-btn-all.icon-star-filled {
  color: palevioletred;
}
.group-like {
  background-color: #fdc9da;
}
.gradient {
  background-image: linear-gradient(90deg,#467379,#5FB9C5);
  height: 4px;
}
.meta-header {
  background-image: linear-gradient(0deg,#467379,#5FB9C5);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.header-part small {
  margin-top: 5px;
}
.header-part ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-part ul li {
  display: inline-block;
}
.filters hr {
  border: none;
  border-bottom: 1px solid #0000012b;
}
.min-col, .max-col, .avg-col, .median-col, .ducats-col, .ratio-col, .mode-col {
  text-align: right;
}
.icon-vert-middle {
  vertical-align: middle;
}
canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.details-options {
  background-color: transparent!important;
}
.details-options summary {
  width: max-content;
  transition: all 0.2s ease-in-out;
}
.details-options summary:hover {
  background-color: #ddd;
}
.details-options summary:active, .details-options summary:focus {
  background-color: #ccc;
}
.details-options .filters {
  background-color: #ddd;
}
details.details-options > summary::-webkit-details-marker, details.details-drop > summary::-webkit-details-marker, details > summary.table-summary::-webkit-details-marker {
  display: none;
}
.graph-number-input {
  width: calc(100% - 20px);
}
.header-part.right.center-mobile, .header-part.left.center-mobile {
  text-align: center;
}
.header-part.right time {
  font-size: smaller;
}
.ratio-col img {
  width: 12px;
  height: 12px;
}
.relics ul {
  padding: 0;
}
.relics-label, .relics-label div {
    height: 120px;
}
.relics-label {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
}
.type-Lith, .type-Meso, .type-Axi, .type-Neo {
  display: none;
  margin-top: 5px;
}
.relic-type-label input:checked + div {
  background-color: lightblue;
}
.relic-type-label {
  float: left;
  width: calc(50% - 1px);
}
.relic-type-label:nth-child(even) {
  border-left: 1px solid darkgray;
}
.relic-type-label:last-child:nth-child(odd) {
  width: 100%;
}
.relic-type-label .type {
  padding: 12px 5px;
  border-bottom: 1px solid darkgray;
  text-align: center;
  cursor: pointer;
}
.relics-label div:hover, .relic-label div:focus, .relics-label div:active{
  background-color: lightgray;
  cursor: pointer;
}
.relics-label input:checked + div {
  background-color: gray;
  color: white;
}
.relics-bg {
  background-repeat: no-repeat;
  background-position: center;
}
.axi-bg {
  background-image: url("../img/axi.png");
}
.lith-bg {
  background-image: url("../img/lith.png");
}
.neo-bg {
  background-image: url("../img/neo.png");
}
.meso-bg {
  background-image: url("../img/meso.png");
}
.build-relic-btn {
  margin-top: 5px;
  font-weight: bold;
}
.share-copy-area {
  position: absolute;
  width: 0;
  height: 0;
  left: -99999px;
  z-index: -999999;
}
#share.success {
  background-color: #c7f6c7;
}
body.offline #dataTable tbody tr.cached td:first-child {
  background-color: rgba(98, 241, 98, 0.3);
}
span.icon-star-filled:hover, span.icon-star-filled:active {
  background-color: transparent;
  box-shadow: none;
  text-shadow: -2px 4px 2px rgba(0,0,0,0.12)
}
.flex {
  display: flex;
  justify-content: space-around;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.online-block {
  font-size: 0.5rem;
  text-align: center;
  padding: 0.1rem;
}
.online-block span {
  font-size: 0.8rem;
}
.online-time-overflow {
  overflow-x: auto;
}
.hours-blocks {
  display: flex;
  justify-content: center;
}
.hour-block:nth-child(n+1) {
  border-right: 1px solid gray;
}
.hour-block:last-child {
  border-right: none;
}
.hour-block {
  background-color: white;
  padding: 0.2rem;
}
.text-success {
  color: #007009;
}
.text-not-success {
  color: #c10000;
}
.active {
  background-color: #2dbf06;
}
.moderatly-active {
  background-color: #eeef5b;
}
.almost-non-active {
  background-color: #e69090;
}
@media (min-width: 768px){
  .search-bar input {
    border-radius: 5px 5px 0 0;
  }
  .search-bar .icon-star-filled {
    padding: 8px 3px 3px 5px;
  }
  body.offline #dataTable tbody tr.cached td:first-child {
    background-color: inherit;
  }
  tr.cached {
    position: relative;
  }
  body.offline #dataTable tbody tr.cached::after {
    content: '\e80a';
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    position: absolute;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    line-height: 2em;
    opacity: 0.5;
    color: white;
  }
  .table-summary {
    padding: 6px 14px;
  }
  .ratio-col img {
    width: 15px;
    height: 15px;
  }
  details.details-options {
    width: 50%;
  }
  .compare.desktop {
    top: 8px;
  }
  .compare.terminal {
    top: 29px;
  }
  .compare {
    right: 0;
  }
  dialog .container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .inner-list-table {
    padding: 0 20%;
  }
  main {
    width: 80%;
    margin: auto;
  }
  .act-col button {
    width: 50%;
    display: inline-block;
  }
  html,body {
    font-size: 18px;
  }
  .filters, details summary {
    font-size: 0.7rem;
  }
  details {
    background-color: #f3f3f3;
  }
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 6px;
  }
  table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
  }
  .clearfix::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
@media (min-width: 1024px) {
  select option {
    font-size: 1rem;
  }
  details.details-options {
    width: 35%;
  }
  .ratio-col img {
    width: 20px;
    height: 20px;
  }
  .table-wrapper.compare {
    width: 90%;
    margin: auto;
  }
  .sk-cube-grid {
    width: 80px;
    height: 80px;
  }
  div.drop-location button.search-for-button {
   font-size: 0.65rem;
  }
  .online-block {
    font-size: 0.7rem;
  }
}
@media (min-width: 1440px) {
  hr.divide-mobile {
    display: none;
  }
  .header-part {
    float: left;
    width: 50%;
  }
  .header-part.left.center-mobile {
    text-align: left;
  }
  .header-part.right.center-mobile {
    text-align: right;
  }
  details.details-options .filters {
    left: -100%;
  }
  .table-wrapper.compare {
    width: 50%;
    margin: inherit;
  }
  .container-for-table-comparisment {
    display: flex;
  }
  .comparisment-wrapper {
    padding: 10px;
    width: 50%;
  }
  .graph-wrapper {
    width: 100%;
  }
  dialog .container {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media (min-width: 2000px) {
  body,html {
    font-size: 28px;
  }
  .search-bar input {
    padding: 11px 11px 11px 43px;
  }
  dialog .container {
    margin-left: 15%;
    margin-right: 15%;
  }
  details.details-options .filters {
    left: 0;
  }
  .informative-icons input {
    padding-left: 30px;
  }
}
