
.icon-layout:before { content: '\e800'; } /* '' */
.icon-brush:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-desktop:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-filled:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e808'; } /* '' */
.icon-eye-off:before { content: '\e809'; } /* '' */
.icon-help:before { content: '\e80a'; } /* '' */
.icon-emo-happy:before { content: '\e80b'; } /* '' */
.icon-emo-unhappy:before { content: '\e80c'; } /* '' */
.icon-chart-line:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-cancel-1:before { content: '\e80f'; } /* '' */
.icon-sun-filled:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e812'; } /* '' */
.icon-tag:before { content: '\e813'; } /* '' */
.icon-thumbs-up:before { content: '\e814'; } /* '' */
.icon-dot:before { content: '\e815'; } /* '' */
.icon-flashlight:before { content: '\e816'; } /* '' */
.icon-calculator:before { content: '\e817'; } /* '' */
.icon-globe:before { content: '\e818'; } /* '' */
.icon-hammer:before { content: '\e819'; } /* '' */
.icon-print:before { content: '\e81a'; } /* '' */
.icon-plus:before { content: '\e81b'; } /* '' */
.icon-download:before { content: '\e81c'; } /* '' */
.icon-cursor:before { content: '\e81d'; } /* '' */
.icon-lock:before { content: '\e81e'; } /* '' */
.icon-cog:before { content: '\e81f'; } /* '' */
.icon-dot-2:before { content: '\e820'; } /* '' */
.icon-calendar:before { content: '\e821'; } /* '' */
.icon-emo-saint:before { content: '\e822'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-get-link:before { content: '\f1e0'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */