<FilesMatch "\.(jpg|png|css|svg|eit|ttf|woff|woff2|ico|js)$">
Header set Cache-Control "max-age=36288000"
</FilesMatch>
<FilesMatch "graph\.(json)$">
Header set Cache-Control "must-revalidate, max-age=3600"
</FilesMatch>
<FilesMatch "current\.(json)$">
Header set Cache-Control "must-revalidate"
</FilesMatch>
<FilesMatch "^(ActiveMissions)\w*\.json$">
Header set Cache-Control "no-cache"
</FilesMatch>
<FilesMatch "^(relicByRelic)\.json">
Header set Cache-Control "must-revalidate, max-age=7200"
</FilesMatch>

RewriteEngine on
RewriteRule ^api(.*)$ api.php?request=$1 [QSA,NC,L]
